<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>¿Qué es la Plataforma de medición de avances?</h4>
        <p>La plataforma es un estudio que mide el cumplimiento de los compromisos del 3er Plan de Accion de Gobierno Abierto de Guatemala. Con esto buscamos dar información a los ciudadanos y cuidadanas en el ejercicio de su derecho a exigir el cumplimiento de los compromisos realizados por los representantes, fortaleciendo sus capacidades de fiscalización y control de gestión.</p>
      </div>
    </div>
  </div>
</section>
