<footer class="footer">
    <div class="container-fluid">
        <div class="row text-center text-md-left">
            <!--Ayudanos a llegar mas personas-->
            <div class="col-12 col-md-4">
                <span>Ayúdanos a llegar a más personas</span>
                <ul class="list-unstyled">
                    <a href="http://donacion.redciudadana.org/" target="_blank"><li><img src="https://png.icons8.com/metro/26/ffffff/hearts.png">Donaciones</li></a>
                    <a href="http://www.redciudadana.org/contacto.html" target="_blank"><li><img src="https://png.icons8.com/material/24/ffffff/conference-call.png">Voluntariado</li></a>
                </ul>
            </div>
            <!--Desarrollado por:-->
            <div class="col-12 col-md-4">
                <span>Desarollado por:</span><br>
                <a href="http://www.redciudadana.org/" target="_blank">
                    <img src="{{rootURL}}/img/logo-rc-white.png" alt="Red Ciudanana" class="img-responsive" id="redCiudananaFooterImg">
                </a>
            </div>
            <!--Contactanos-->
            <div class="col-12 col-md-4">
                <span>Contáctanos:</span>
                <ul class="list-unstyled">
                    <li><img src="https://png.icons8.com/material/24/ffffff/marker.png">Dirección: Guatemala, Ciudad.</li>
                    <li><img src="https://png.icons8.com/ios-glyphs/24/ffffff/phone.png">Teléfono: 22447878</li>
                    <li><img src="https://png.icons8.com/ios-glyphs/24/ffffff/secured-letter.png">Correo Electrónico: <strong>info@redciudadana.org</strong></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
