
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h4> <span class="text-muted">nota para julio</span> Supongo que escribiremos algo aquí, los link salen de spreadsheets, no es necesario iniciar sesion para mandar el form  esto se configura desde la creacion del form.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <iframe src="{{model.embed}}" height="720"  frameborder="0" style="width: 100%; margin: 5px;">Cargando</iframe>
    </div>
    <div class="col">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfoaHBv9RI_ix6gDW5FXVfxaF3M_w_FW0JLfhpVNGzCHJfyUw/viewform?embedded=true" height="720" frameborder="0" style="width: 100%; margin: 5px;">Cargando...</iframe>
    </div>
  </div>
</div>
