<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-8">
      <iframe src="{{model.embed}}" height="720"  frameborder="0" style="width: 100%; margin: 5px;">Cargando</iframe>
      <hr class="my-2 border">
    </div>
    <div class="col">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfoaHBv9RI_ix6gDW5FXVfxaF3M_w_FW0JLfhpVNGzCHJfyUw/viewform?embedded=true" height="720" frameborder="0" style="width: 100%; margin: 5px;">Cargando...</iframe>
    </div>
  </div>
</div>
